/* Editor Container */
.editor {
    width: 100%;
    border-radius: var(--border-radius);
}

.editor .body {
    display: flex;
    width: 100%;
}

.editor .body textarea {
    width: 100%;
    height: 200px;
    border: none;
    resize: none;
    padding: 1rem;
    border-radius: var(--border-radius);
}

.editor .body #markdown-input {
    background: var(--object-bg-trans);
}

.editor .header {
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--border-radius);
}

.editor .header .toolbar {
    display: flex;
    flex-wrap: wrap;
}

.image-dropdown-btn {
    position: relative;
    background: yellow;
    overflow: visible;
}

.image-dropdown {
    position: absolute;
    top: 110%; /* Adjust based on your layout */
    background: var(--object-bg-2);
    box-shadow: 0 0 5px var(--box-shadow-color);
    max-height: 200px;
    overflow-y: auto;
    padding:  0.5rem;
    border-radius: calc(var(--border-radius) - 0.5rem);
}

.image-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.image-dropdown li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.image-thumbnail {
    width: 60px;
    object-fit: cover;
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
    .editor {
        overflow: hidden;
    }
    .editor .body textarea {
        height: 400px;
    }
}

@media screen and (min-width: 400px) {
    .editor .header button i.bi{
        font-size: 1rem;
    }
}

