nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    left: 1%;
    padding: 2rem 0;
}

nav ul {
    background: white;
    padding: 1rem;
    border-radius: 50px;
}

nav ul li{
    list-style-type: none;
    margin: 3rem 0;
    position: relative;
    transition: 0.3s;
}

nav ul li i.bi,
nav button i.bi {
    font-size: 1.5rem;
}

nav ul li .active i.bi {
    color: var(--theme-color);
}

nav ul li:hover{
    transform: scale(1.2);
}

nav ul li .active::after {
    content: '';
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background: var(--theme-color);
    border-radius: 50%;
}

nav button {
    background: var(--btn-color);
    padding: 2rem;
}
