.post {
    width: 60%;
    min-height: 40px;
    border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    padding: 2rem;
    position: relative;
    cursor: pointer;
}

.post:nth-child(1){
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.post:last-child{
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.post section.header section.left img.post-header-img {
    width: 60px;
    border-radius: 50%;
}

.post section.header section.optionMenu {
    position: absolute;
    background: var(--object-bg);
    top: 2rem;
    right: 2rem;
    border: solid 1px var(--border-color);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    width: 200px;
    padding: 1.5rem 1rem;
    overflow: hidden;
    transform: scale(0);
    transform-origin: top right;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.post section.header section.optionMenu li {
    list-style-type: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.9rem;
}

.post section.header section.optionMenu li:hover {
    background: var(--btn-color);
    color: hsl(var(--default-clr), 50%, 95%);
}

.post section.header section.optionMenu li.error:hover {
    background: var(--error);
    color: var(--error-clr);
}

.post section.header section.optionMenu.showMenu {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.post section.foot {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
}

.post section.foot i.bi{
    margin: 0 0.5rem;
    font-size: 1.2rem;
    transition: 0.3s;
}

.post section.foot i.bi:hover {
    color: var(--theme-color);
    transform: scale(1.1);
    cursor: pointer;
}


.post .postContent {
    overflow: hidden;
}

.post .postContent img {
    width: 500px;
    display: block;
    margin: auto;
}

i.bi {
    color: var(--grey);
    font-size: 1.5rem;
}

.dark-theme .post section.header section.optionMenu li:hover {
    color: hsl(var(--default-clr), 74%, 85%);
}