.post {
    width: 60%;
    min-height: 40px;
    border-radius: 0;
    overflow: hidden;
    padding: 2rem;
    position: relative;
    cursor: pointer;
}

.post:nth-child(1) {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.post:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.post section.header section.left img.post-header-img {
    width: 60px;
    border-radius: 50%;
}

.post section.foot button {
    padding: 0.5rem;
    background: transparent;
}

.post section.foot i.bi {
    margin: 0 0.5rem;
    font-size: 1.2rem;
    transition: 0.3s;
}

.post section.foot i.bi:hover {
    color: var(--theme-color);
    transform: scale(1.1);
    cursor: pointer;
}

.post .postContent {
    overflow: hidden;
}

.post .postContent img {
    width: 500px;
    display: block;
    margin: auto;
}

i.bi {
    color: var(--grey);
    font-size: 1.5rem;
}

.dark-theme .post section.header section.optionMenu li:hover {
    color: hsl(var(--default-clr), 74%, 85%);
}

@media screen and (max-width: 900px) {
    .post {
        width: 100%;
        padding: 1rem;
    }

    .post .postContent img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .post {
        width: 100%;
        padding: 1rem;
    }

    .post .postContent img {
        width: 100%;
    }
}