.markdown-viewer {
    width: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.7;
}

.markdown-viewer figure {
    margin: 1rem 0;
}

.markdown-viewer figure button {
    background: transparent;
    box-shadow: none;
    border: none;
    transform: scale(0.8);
}

.markdown-viewer pre code {
    max-height: 600px;
    overflow-y: auto;
}

.markdown-viewer pre code[data-line-numbers] {
    counter-reset: line;
}

.markdown-viewer pre code[data-line-numbers]>[data-line]::before {
    counter-increment: line;
    content: counter(line);
}


.markdown-viewer h1,
.markdown-viewer h2,
.markdown-viewer h3 {
    margin: 1rem 0 0 0;
}

.markdown-viewer ul {
    margin-left: 1.6rem;
}

.markdown-viewer a {
    color: var(--theme-color);
    text-decoration: none;
}

.markdown-viewer a:hover {
    text-decoration: underline;
}

.markdown-viewer pre {
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.markdown-viewer code {
    padding: 2px 4px;
    border-radius: 3px;
    font-family: monospace;
}