.container .profile-header {
    width: 60%;
    padding: 2rem;
    border-radius: var(--border-radius);
    position: relative;
    margin-top: 10%;
}

.large-image-overlay {
    width: 100%;
    height: 100%;
    background: #00000081;
    backdrop-filter: blur(1rem);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    display: flex;
}

.large-image {
    width: 30%;
    display: block;
    margin: auto;
    border-radius: calc(var(--border-radius) + 1rem);
}

.container .profile-header .image-container {
    position: relative;
}

.container .profile-header .image-container button.camera-btn {
    position: absolute;
    right: 2%;
    bottom: 0;
}

.container .profile-header .profile-picture {
    transition: 0.5s;
}

.container .profile-header .profile-picture:active {
    transform: scale(0.9);
}


.container .profile-header table {
    width: 70%;
}

.container .profile-header table tr th,
.container .profile-header table tr td {
    padding: 0.5rem 1rem;
    width: 33.3333%;
    text-align: center;
}


.container .profile-body {
    width: 60%;
}

.posts {
    width: 100%;
    min-height: 40px;
    border-radius: 0;
    border-radius: 0;
    padding: 3rem;
}

.posts:nth-child(1){
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.posts:last-child{
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.posts i.bi {
    cursor: pointer;
}


.editbutton {
    position: absolute;
    top: 10%;
    right: 5%;
}


.edit-buttons button{
    margin: 0 1rem;
}
.edit-buttons button i.bi{
    margin: 0 0.5rem 0 0;
}

.edit-buttons button.error {
    background: var(--error);
    color: var(--error-clr);
    box-shadow: var(--error);
}

.edit-buttons button.success {
    background: var(--success);
    color: var(--success-clr);
    box-shadow: var(--success);
}


.image-uploader .window{
    height: 100vh;
}