.comment-section-container {
    position: relative;
}

.commentBox {
    min-width: 500px;
    max-width: 700px;
    height: 400px;
    overflow-y: auto;
    padding: 1rem;
    border-radius: var(--border-radius);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -550%;
    left: 50%;
    transform: translateX(-50%) scale(0.2);
    transform-origin: bottom;
    transition: 0.5s;
    z-index: 1000;
    /* Increase z-index to ensure it appears on top */
}

.commentBox form {
    position: sticky;
    bottom: 0;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0;
}

.commentBox textarea {
    height: auto;
    border-radius: calc(var(--border-radius) - 1rem);
    font-family: inherit;
    width: 100%;
}

.commentBox .comments-section {
    padding: 0.5rem;
    width: 100%;
}

.commentBox .comments-section .comment {
    padding: 1rem;
    border-bottom: solid 1px var(--border-color);
}

.commentBox.active {
    visibility: visible;
    opacity: 1;
    top: -650%;
    transform: scale(1) translateX(-50%);
    z-index: 1000;
}


@media screen and (max-width: 768px) {
    .commentBox {
        min-width: 300px;
        height: 300px;
        padding: 0.5rem;
    }



    .commentBox.active {
        visibility: visible;
        opacity: 1;
        top: -550%;
        left: 0%;
    }


}