.settings {
    position: fixed;
    bottom: 5%;
    left: -10%;
    width: 400px;
    height: 600px;
    padding: 1rem;
    border-radius: var(--border-radius);
    transform: scale(0.1);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
}

.settings section.body {
    margin-top: 50px;
}

.settings section.body section.settings-sections {
    margin-top: 30px;
    background: var(--object-bg-trans);
    padding: 2rem 1rem;
    border-radius: 14px;
}

.settings section.body section.settings-sections label {
    margin: 10px 0 0 0;
}

.settings section.body section.settings-sections label.account-label,
.settings section.body section.settings-sections .information-label {
    cursor: pointer;
    padding: 1rem 0.5rem;
    border-radius: calc(2rem - var(--border-radius));
    position: relative;
}

.settings section.body section.settings-sections label.account-label i.bi,
.settings section.body section.settings-sections .information-label i.bi {
    margin-right: 1rem;
    font-size: 1.1rem;
}

.settings section.body section.settings-sections label.account-label p,
.settings section.body section.settings-sections .information-label p {
    font-size: 1.1rem;
}




.settings section.body section.settings-sections label.account-label::after,
.settings section.body section.settings-sections .information-label::after {
    content: '\F134';
    font-family: 'bootstrap-icons';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 6%;
    transform: translateY(-50%);
    color: var(--grey);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.settings section.body section.settings-sections label.account-label:hover,
.settings section.body section.settings-sections .information-label:hover {
    background: var(--object-bg-2);
}


.settings section.body section.settings-sections label.account-label:hover::after,
.settings section.body section.settings-sections .information-label:hover::after {
    right: 3%;
    visibility: visible;
    opacity: 1;
}


.settings section.body section.settings-sections span.color-circles {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    position: relative;
    cursor: pointer;
}

.settings section.body section.settings-sections span.color-circles.active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--grey);
}

.settings section.body section.settings-sections span.color-circles.original {
    background: #8437e1;
}

.settings section.body section.settings-sections span.color-circles.orange {
    background: #E68200;
}

.settings section.body section.settings-sections span.color-circles.yellow {
    background: #FFC300;
}

.settings section.body section.settings-sections span.color-circles.blue {
    background: #157EFB;
}

.settings section.body section.settings-sections span.color-circles.red {
    background: #5a2f2f;
}

.settings section.body section.settings-sections span.color-circles.green {
    background: #65b84d;
}

.settings section.body section.settings-sections.danger button {
    background: var(--error);
    color: var(--error-clr);
}

.settings.show {
    left: 7%;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}




@media screen and (max-width: 768px) {
    .settings {
        width: 90%;
        height: 600px;
        padding: 0.5rem;
        position: fixed;
        bottom: -20%;
        left: 50%;
        transform: scale(0.4) translateX(-50%);
    }

    .settings section.body section.settings-sections {
        margin-top: 10px;
        padding: 1.5rem;
    }

    .settings.show {
        left: 50%;
        bottom: 8%;
        transform: scale(1) translateX(-50%);
        opacity: 1;
        visibility: visible;
    }

}