.auth-container {
    min-height: 100vh;
}

.auth-container .content-container {
    width: 30%;
    height: 50%;
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    border-radius: var(--border-radius);
    padding: 2rem;
}

.auth-container .content-container form div {
    width: 100%;
}


.auth-container .content-container .left ul.features-list p.heading {
    font-size: 1.3rem;
    color: hsl(var(--default-clr), 74%, 85%);
}

.auth-container .content-container .left ul.features-list li {
    list-style: none;
    padding: 0.5rem;
    font-size: 1rem;
}

.auth-container .content-container .left ul.features-list li i.bi {
    font-size: 1rem;
    color: white;
}

.auth-container .content-container .left .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.auth-container .content-container .right.form-container form {
    border-radius: 0;
    padding: 1rem;
}

.auth-container .content-container .right .title {
    display: none;
}



@media screen and (max-width: 1300px) {

    .auth-container .content-container {
        width: 90%;
    }


}

@media screen and (max-width: 900px) {

    .auth-container .content-container {
        width: 90%;
    }
}