body.dark-theme {
    --default-clr: 267;
    --theme-color: hsl(var(--default-clr), 84%, 15%);
    --btn-color: #1a1a1a;
    --body-bg: #0a0a0a;
    --object-bg: #171717;
    --object-bg-2: #1a1a1a;
    --object-bg-trans: #121212d4;
    --grey: hsl(var(--default-clr), 5%, 50%);
    --border-color: #292929;
    --box-shadow-color: #0b0b0bca;
    --text-color: #ffffff;
    --error: #871717;
    --error-clr: #ffd0d0;
    --success: #1a740e;
    --success-clr: #ddffd7;
    --alert: #bba031;
    --box-after: #ffffffb1;
}

body.dark-theme.theme-color-orange {
    --default-clr: 34;
}

body.dark-theme.theme-color-blue {
    --default-clr: 213;
}

body.dark-theme.theme-color-red {
    --default-clr: 0;
}

body.dark-theme.theme-color-green {
    --default-clr: 133;
    --btn-color: hsl(var(--default-clr), 100%, 25%);
}

body.dark-theme nav ul li .active i.bi {
    color: hsl(var(--default-clr), 84%, 55%);
}

.dark-theme ::selection {
    background: hsl(var(--default-clr), 90%, 40%);
}

.dark-theme header.left-nav {
    background: var(--object-bg);
}

.dark-theme .colored,
.dark-theme a.colored {
    color: hsl(var(--default-clr), 84%, 55%);
}

.dark-theme button.colored {
    color: #fff;
}

.dark-theme .box.post::before {
    background: radial-gradient(hsl(var(--dark-clr, var(--default-clr)), 100%, 50%), transparent, transparent);
}

.dark-theme .post p.colored,
.dark-theme .post-container .colored {
    color: hsl(var(--default-clr), 84%, 55%);
}

.dark-theme button.transparent {
    background: transparent;
}

.dark-theme .post button i.bi.liked {
    color: hsl(var(--default-clr), 84%, 55%);
}

.dark-theme .gradient-text {
    background: -webkit-linear-gradient(#646464, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark-theme button.theme {
    background: var(--theme-color);
}

.dark-theme button i.bi.liked {
    color: hsl(var(--default-clr), 84%, 55%);
}