@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --default-clr: 267;
    --theme-color: hsl(var(--default-clr), 74%, 55%);
    --btn-color: #e8d9fc;
    --body-bg: #fbf8ff;
    --object-bg: hsl(268, 100%, 98%);
    --object-bg-trans: #e5d8f476;
    --grey: #a69cb1;
    --border-color: #cfbee3;
    --box-shadow-color: #7676764f;
    --text-clr: #000;
    --border-radius: 1rem;
    --fs: 1rem;
    --error: #d71212;
    --error-clr: #ffd0d0;
    --success: #1c8c0a;
    --success-clr: #ddffd7;
    --alert: #f2c821;
    --box-after: #ffffffb1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: hsl(var(--default-clr), 100%, 70%);
    color: white;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--object-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: var(--border-radius);
    border: 3px solid var(--object-bg);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-color);
}


body {
    background: var(--body-bg);
    color: var(--text-clr);
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: 0.3s;
}

body.disabled {
    opacity: 0.5;
    pointer-events: none;
}


body.theme-color-orange {
    --default-clr: 34;
    --theme-color: hsl(var(--default-clr), 100%, 45%);
    --btn-color: #fae8d6;
    --body-bg: hsl(24, 100%, 99%);
    --object-bg: #fffaf5;
    --object-bg-trans: #ece0d496;
    --grey: #c2b5a9;
    --border-color: #dfd4c8;
}


body.theme-color-blue {
    --default-clr: 213;
    --theme-color: hsl(var(--default-clr), 100%, 50%);
    --btn-color: hsl(var(--default-clr), 78%, 91%);
    --body-bg: hsl(var(--default-clr), 100%, 99%);
    --object-bg: hsl(var(--default-clr), 100%, 98%);
    --object-bg-trans: hsla(var(--default-clr), 39%, 88%, 0.588);
    --grey: hsl(var(--default-clr), 17%, 71%);
    --border-color: hsl(var(--default-clr), 26%, 83%);
}

body.theme-color-red {
    --default-clr: 0;
    --theme-color: hsl(var(--default-clr), 100%, 50%);
    --btn-color: hsl(var(--default-clr), 78%, 91%);
    --body-bg: hsl(var(--default-clr), 100%, 99%);
    --object-bg: hsl(var(--default-clr), 100%, 98%);
    --object-bg-trans: hsla(var(--default-clr), 39%, 88%, 0.588);
    --grey: hsl(var(--default-clr), 17%, 71%);
    --border-color: hsl(var(--default-clr), 26%, 83%);
}

body.theme-color-green {
    --default-clr: 107;
    --theme-color: hsl(var(--default-clr), 43%, 51%);
    --btn-color: hsl(var(--default-clr), 78%, 91%);
    --body-bg: hsl(var(--default-clr), 100%, 99%);
    --object-bg: hsl(var(--default-clr), 100%, 98%);
    --object-bg-trans: hsla(var(--default-clr), 39%, 88%, 0.588);
    --grey: hsl(var(--default-clr), 17%, 71%);
    --border-color: hsl(var(--default-clr), 26%, 83%);
}

main {
    flex: 1;
}


header.left-nav {
    width: 150px;
    height: 100vh;
    background: var(--object-bg-trans);
    position: fixed;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(0.5rem);
    /* box-shadow: 0px 6px 10px var(--box-shadow-color); */
    border-right: solid 1px var(--box-shadow-color);
}

header.left-nav ul li {
    padding: 1rem;
    margin: 0.5rem 0;
}

header.left-nav ul li a i.bi {
    color: var(--text-clr);
    margin-right: 0.5rem;
}

header.left-nav ul li a:hover,
header.left-nav ul li a:hover i.bi {
    color: var(--theme-color);
}

header.left-nav img {
    width: 30%;
}

header nav ul li a.active,
header ul li a.active,
header ul li a.active i.bi {
    color: var(--theme-color);
    position: relative;
}


/* right menu */
.right-menu {
    position: fixed;
    right: 2%;
    top: 10%;
    padding: 2rem;
    border-radius: var(--border-radius);
}

.right-menu section {
    margin: 0.5rem 0;
}


.messages {
    width: 20%;
    position: fixed;
    top: 2%;
    right: -20%;
    opacity: 0;
    visibility: hidden;
    border-radius: var(--border-radius);
    transition: 0.3s;
    backdrop-filter: blur(1rem);
    z-index: 1000000;
}


.messages section span {
    width: 30px;
    height: 100%;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    padding: 0.2rem 1rem;
}

.messages section span.success  {
    background: var(--success);
}

.messages section span.error  {
    background: var(--error);
}

.messages.show {
    right: 1%;
    opacity: 1;
    visibility: visible;
}

.messages p {
    margin: 0 0 0 0.5rem;
}

.messages p.success {color: var(--success-clr)}
.messages p.error {color: var(--error-clr)}
.messages p.warning {color: var(--error-clr)}


/* ERROR SUCCESS CLASSES */
.error {
    color: var(--error);
}

.alert {
    color: var(--alert);
}


footer {
    padding: 1rem;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin: 10px 0;
    font-size: 14px;
    margin-left: 0.5rem;
}



@media screen and (max-width: 1260px) {
    .right-menu {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    header.left-nav.flex.direction-col {
        height: 60px;
        width: 90%;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        justify-content: space-between;
        padding: 1rem;
        border: solid 1px var(--box-shadow-color);
        border-radius: calc(5*var(--border-radius));
    }

    header.left-nav ul.flex.direction-col,
    header.left-nav.flex.direction-col {
        flex-direction: row;
    }

    header.left-nav img {
        width: 40px;
        height: 40px;
    }

    header.left-nav #dashboard-user-label {
        display: none;
    }

    header.left-nav ul {
        flex-direction: row;
    }

    header.left-nav ul li a span {
        display: none;
    }

    .messages {
        width: 100%;
        z-index: 5000000;
    }

}