@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

hr {
    width: 100%;
    border: solid 1px var(--grey);
}

/* PROFILE PICTURE */
.profile-picture,
.icon {
    width: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px var(--box-shadow-color);
}

.profile-picture.size-m,
.icon.size-m {
    width: 60px;
    height: 60px;
}

.profile-picture.size-l,
.icon.size-l {
    width: 200px;
    height: 200px;
}

.profile-picture.size-icon,
.icon.size-i {
    width: 40px;
    height: 40px;
}

.obj {
    background: var(--object-bg);
    border: solid 1px var(--border-color);
}

.obj-2 {
    background: var(--object-bg-2);
    border: solid 1px var(--border-color);
}

.obj-trans {
    background: var(--object-bg-trans);
    border: solid 1px var(--border-color);
    backdrop-filter: blur(0.4rem);
    box-shadow: 0px 0px 10px 2px var(--box-shadow-color);
}

.obj-trans.input-bordered {
    border: none;
    border-bottom: solid 2px var(--box-shadow-color);
    background-color: transparent;
}

/* Button */
button {
    font-size: 1rem;
    padding: 0.2rem 1rem;
    color: var(--text-color);
    border: solid 1px var(--border-color);
    background: var(--btn-color);
    border-radius: calc(var(--border-radius) - 0.5rem);
    box-shadow: 0px 0px 7px var(--object-bg-trans);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
    font-weight: 500;
    position: relative;
}

button.theme {
    color: hsl(var(--clr, var(--default-clr)), 50%, 90%);
    background: hsl(var(--clr, var(--default-clr)), 100%, 50%);
}

button.theme i.bi {
    color: hsl(var(--clr, var(--default-clr)), 50%, 90%);
}

button.no-border {
    border: none;
}

button.icon {
    border: none;
    box-shadow: none;
}

button i.bi {
    font-size: 1.2rem;
    color: var(--text-color);
}

button.circle {
    padding: 1rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

button.transparent {
    background: transparent;
    color: var(--grey);
    box-shadow: none;
    border: none;
}

button.transparent:hover,
button.transparent:hover i.bi {
    box-shadow: none;
    color: hsl(var(--default-clr), 100%, 55%);
    border: none;
}

button:disabled {
    opacity: 0.5;
}

button.loader:disabled::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    border-top-color: hsl(var(--default-clr), 100%, 90%);
    animation: spin 1s ease-in-out infinite;
    margin-left: 1rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.dark-theme button.icon {
    background: var(--object-bg-2);
}

.dark-theme button.icon i.bi {
    color: hsl(var(--default-clr), 84%, 55%);
}

.dark-theme button.icon:hover i.bi {
    color: hsl(var(--default-clr), 84%, 65%);
}

button:hover {
    transform: scale(1.05);
}



/* LIKE BUTTON */
button i.bi.bi-heart-fill {
    color: hsl(var(--default-clr), 84%, 65%);
}


/* Display Properties */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex.jc-spe {
    justify-content: space-evenly;
}

.flex.jc-start {
    justify-content: start;
}

.flex.jc-end {
    justify-content: end;
}

.flex.jc-left {
    justify-content: left;
}

.flex.jc-spb {
    justify-content: space-between;
}

.flex.ai-start {
    align-items: start;
}

.flex.ai-end {
    align-items: end;
}

.flex.direction-row {
    flex-direction: row;
}

.flex.direction-row-rev {
    flex-direction: column;
}

.flex.direction-col {
    flex-direction: column;
}

.grid {
    display: grid;
    justify-content: center;
    gap: 2rem;
}

.grid.jc-start {
    justify-content: start;
}

.grid.cols-2 {
    grid-template-columns: auto auto;
}

.grid.cols-3 {
    grid-template-columns: auto auto auto;
}

.grid.cols-4 {
    grid-template-columns: auto auto auto auto;
}

.grid.auto {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

.grid.gap-2,
.flex.gap-2 {
    gap: 2rem;
}

.grid .full-width {
    grid-column: 1 / -1;
}

/* Font Properties & Styles */
a {
    color: var(--text-color);
    text-decoration: none;
}

a.hoverable i {
    transition: 0.3s;
}

a.hoverable:hover i {
    color: var(--clr);
}

.bold {
    font-weight: 600;
}

.grey {
    color: var(--grey);
}

.colored,
a.colored {
    color: var(--theme-color);
}

.original-color {
    color: var(--text-color);
}

.bg-colored {
    background: var(--theme-color);
    color: hsl(var(--default-clr), 100%, 90%);
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: var(--border-radius);
}


a {
    cursor: pointer;
}

.title {
    font-size: calc(var(--fs) + 2rem);
    font-weight: 700;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: calc(var(--fs) + 1rem);
    font-weight: 600;
}

.caption {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
}

.caption-2 {
    font-size: 1rem;
    font-weight: 600;
}

.heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.text {
    font-size: 1.2rem;
    font-weight: 500;
}

.blog-content img {
    width: 100%;
}

.spaced {
    letter-spacing: 0.2rem;
}

i.bi {
    font-size: 1.5rem;
    color: var(--grey);
}

.text-center {
    text-align: center;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.half-width {
    width: 50%;
}

.gradient-text {
    background: -webkit-linear-gradient(#3f3f3f, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

pre code span {
    font-family: 'Source Code Pro', monospace;
}

.fancy {
    font-family: 'Bonheur Royale', cursive;
}

/* Box Properties */
.box {
    position: relative;
    width: var(--width, 500px);
    height: var(--height, auto);
    background: var(--object-bg-trans);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: 2rem;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    cursor: pointer;
}

.box::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    background: radial-gradient(hsl(var(--light-clr, var(--default-clr)), 100%, 50%), transparent, transparent);
    width: calc((700px*2) / 1.2);
    height: calc((700px*2) / 1.2);
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s, top 0s, left 0s;
}

.box:hover::before {
    opacity: 1;
}

.box::after {
    content: '';
    position: absolute;
    inset: 4px;
    border-radius: inherit;
    background: var(--box-after);
    z-index: -1;
}

.box .box-header {
    width: 100%;
    margin: 1rem 0;
}

.box .box-header .header-containers {
    margin: 0 1rem;
}

.box .box-header .header-containers .header-text span {
    color: hsl(var(--clr, var(--default-clr)), 100%, 50%);
}

.box-title {
    color: hsl(var(--clr, var(--default-clr)), 100%, 50%);
    font-size: calc(var(--fs) + 1rem);
    font-weight: 600;
}

.box img {
    width: 50%;
    display: block;
    margin: auto;
}

section.container {
    padding: var(--padding);
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    border-radius: calc(2 * var(--border-radius));
    width: var(--width, 100%);
}

section.container .section-title {
    font-size: 2rem;
    font-weight: 600;
}

/* Forms & Inputs */
form {
    padding: 1rem;
    border-radius: var(--border-radius);
}

input,
textarea,
select {
    background: var(--object-bg-2);
    padding: 0.2rem 0.5rem;
    border-radius: calc(var(--border-radius) - 0.5rem);
    margin: 0.5rem;
    outline: none;
    transition: .3s;
    width: 300px;
    color: var(--tex-colort);
    border: solid 1px var(--border-color);
    font-size: 0.8rem;
}

select {
    width: auto;
}

textarea {
    height: 200px;
}

textarea.blog-content {
    height: 300px;
    width: 600px;
}

textarea.full {
    width: 100%;
}

label.field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: calc(var(--border-radius) - 0.5rem);
}

label.field input {
    width: 100%;
    background: transparent;
    border: none;
    box-shadow: none;
}

.otp-input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    box-shadow: 0px 0px 4px var(--box-shadow-color);
    border-radius: 5px;
    outline: none;
}

input:focus,
textarea:focus,
select:focus {
    border: solid 1px hsl(var(--light-clr, var(--default-clr)), var(--saturation, 100%), var(--lightness, 55%));
}

.passIncorrect {
    border: solid 1px var(--error);
}

label.field input:focus {
    border: none;
    box-shadow: none;
}

/* Slider */
input[type='range'] {
    border-radius: calc(var(--border-radius) * 3);
    background: var(--object-bg-2);
    outline: none;
    accent-color: var(--theme-color);
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--object-bg);
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    border-radius: calc(3 * var(--border-radius));
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #d9d9d9;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--theme-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Image Properties */
.img {
    width: 70%;
}

.img.stylize,
.stylize {
    border-radius: calc(var(--border-radius));
    box-shadow: 0px 0px 10px var(--grey);
}

img.center {
    display: block;
    margin: auto;
}

.reveal {
    transform: translateY(500px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, transform 1s;
}

.reveal.delayed {
    transition-delay: var(--delay, 0s);
}

.reveal.right {
    transform: translateX(500px);
}

.reveal.show {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

.reveal.right.show {
    transform: translateX(0px);
}


@media screen and (max-width: 768px) {
    form {
        padding: 0.5rem;
    }

    .title {
        font-size: calc(var(--fs) + 1.5rem);
        font-weight: 700;
    }

    .subtitle {
        font-family: 'Open Sans', sans-serif;
        font-size: calc(var(--fs) + 0.8rem);
        font-weight: 600;
    }

    .caption {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.6rem;
        font-weight: 400;
    }

    .caption-2 {
        font-size: 0.8rem;
        font-weight: 600;
    }

    .heading {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.9rem;
        font-weight: 600;
    }

    .text {
        font-size: 1rem;
        font-weight: 500;
    }
}


@media screen and (max-width: 500px) {

    /* PROFILE PICTURE */
    .profile-picture {
        width: 40px;
    }

    .profile-picture.size-l {
        width: 150px;
        height: 150px;
    }

    .profile-picture.size-icon {
        width: 40px;
        height: 40px;
    }
}